// FONTS
$rb: 'Roboto', sans-serif;

// COLORS
$light-blue: #0ca5e8;
$blue: #0290ce;
$gray: #e8e8e8;
$gray-lighten: #f3f3f3;
$red: #c83a3a;
$red-darken: #c7202c;
$pink: #dc143c;
$green: #7db641;
$orange: #ff9900;

// WRAPPER
$wrap: 1200px;

// RESPONSIVE BREAKPOINTS
$tablets: 1170px;
$medium: 980px;
$small-tablets: 680px;